<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Student management system</title>
</head>
<body>
    Hello! This is student management system.<br><br>
    Click on these links to use our webpage...<br>
    <a href="{% url "formURL" %}">FormFill</a>
    <a href="{% url "viewURL" %}">View</a>
    <br>
    Teacher's Side: <b> Coming soon </b><br>
    <a href="">FormFill</a>
    <a href="">View</a>
</body>
</html>